{% extends 'base.html' %}

{% load staticfiles %}


{% block title %}
	Data
{% endblock %}

{% block head %}
  
{% endblock %}

{% block content %}
{% include "nav.html" %} 

<div class="section-content">
  <div class="row">
    <h2 class="columns">Home Grown Data</h2>
  </div>
  <div class="row">
    <div class="large-6 columns">
        <div class="row">
          <p class="columns">We are living in a world of Big Data, well, this is <strong>Home Grown Data</strong>. The system automatically collects various data points throughout the day. This allows us to track trends so that we can make improvements.</p>
        </div>
    </div>
    <div class="large-6 columns">
      <img src="{% static 'assets/graph.jpg' %}">
    </div>
  </div>
</div>

<div class="section-content">
  <div class="row">
    <h2 class="columns">Last data entry: {{sensors.items.0.1.date}}</h2>
  </div>

  <div class="">
    {% for key, value in sensors.items %}
      {% if forloop.counter == 1 or forloop.counter == 4 %}<div class="row">{% endif %}
        <div class="large-3 columns">
          <div class="card">
            <div class="content">
              <p class="title">{{key}}</p>
              <!-- <div id="grow_temp" class="current-temperature" data-temperature="{{latest_grow_temp.data}}" data-low="0" data-high="50" data-optimal-low="20" data-optimal-high="30">
              </div> -->
              {% if key == 'Light' %}
              <h3 class="text-center">
                  {{value.data}}
              </h3>
              {% else %}
              <h3 class="text-center">
                  {{value.data}}&deg;C
              </h3>
              {% endif %}
            </div>
              <div class="action">
                  <div class="row">
                    <a class="" href="{% url 'graph' sn='gt' %}">
                      <span class="columns small-3">Graph</span>
                      <i class="fi-arrow-right columns small-3" aria-hidden="true"></i>
                    </a>
                  </div>
              </div>
          </div>
        </div>
      {% if forloop.counter == 3 or forloop.counter == 6 %}</div>{% endif %}
    {% endfor %}
  </div>
</div>

<div class="section-quote">
  <div class="row">
    <div class="columns small-centered medium-3">
      <img class="img-circle" src="{% static 'assets/arthur.png'%}">
    </div>
    <div class="columns small-centered medium-9">
        <p class="quote">I never guess. It is a capital mistake to theorize before one has data. Insensibly one begins to twist facts to suit theories, instead of theories to suit facts.</p>
      <p class="text-center author">Sir Arthur Conan Doyle</p>
    </div>
  </div>
</div>

<div class="section-content">
  
  <div class="row">
    <h2 class="columns">How do you collect data?</h2>
  </div>

  <div class="row">
    <div class="columns large-5">
      <img class="img-circle" src="{% static 'assets/rpi.png' %}">
    </div>
    <div class="columns large-7">
      <p>At the heart of the system is a <a href="https://www.raspberrypi.org/">Raspberry Pi</a>. This is a miniature computer that allows you to connect various sensors by using the Linux operating software. The Raspberry Pi reads the data from the sensor and sends that information to the server that is hosting this website.</p>

      <p>If you want to get your Geek on you can see the code on <a href="https://github.com/afieldio/pi-poster">GitHub</a>. It uses both the I<sup>2</sup>C and the OneWire communication protcols to retrieve the necessary data.</p>
    </div>
  </div>
</div>

<script src="{% static 'js/temp.js' %}"type="text/javascript"></script>
<script type="">
    $(function() {
        var light = '{{light}}';
        console.log(light);
        if(light=='True'){
            $('.light').addClass('lightOn');
        }else{
            $('.light').removeClass('lightOn');
        }
    });
</script>

{% endblock %}