{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}
	Home
{% endblock %}

{% block head %}
{% endblock %}




{% block content %}
<div class="hero">
	<div class="small-12 columns hero-title">
		<h1 class="text-center">Home Grown</h1>
		<p class="text-center">An Agricultural Revolution</p>
	</div>
</div>

{% include "nav.html" %} 

<div class="section-content">

	<div class="row">
		<h2 class="columns">What is Home Grown?</h2>
	</div>
	<div class="row">
		<p class="columns"><strong>Home Grown</strong> is a closed loop Aquaponic System that allows people to grow healthy, nutricious food in an urban environment. It combines modern IoT technologies with century old farming techniques to create a miniture farm without the need for a garden.</p>

		<p class="columns">The video below shows a <em>small</em> scale prototype built in my Garden. The aim of this project was to prove that this was technicaly feasible. Some good news - it is! Please get in <a href="{% url 'contact' %}">touch</a> if you want to come visit!</p>

		<iframe class="column" width="100%" height="540px" src="https://www.youtube.com/embed/B8XeFcnTWAQ" frameborder="0" allowfullscreen></iframe>
	</div>
</div>

<div class="section-quote">
	<div class="row">
		<div class="columns large-3">
			<img class="img-circle" src="{% static 'assets/norbert.png'%}">
		</div>
		<div class="columns large-9">
			<p class="quote">The more we get out of the world the less we leave, and in the long run we shall have to pay our debts at a time that may be very inconvenient for our own survival.</p>
			<p class="text-center author">Norbert Weiner</p>
		</div>
	</div>
</div>

<div class="section-content">
	<div class="row">
		<h2 class="columns">What is Aquaponics?</h2>
	</div>
	<div class="row">
		<p class="columns"><strong>Aquaponics</strong> is a combination of Aquaculture and Hydroponics. Aquaculture is the farming of aquatic organisms and Hydroponics is the growing of plants using mineral nutrient solutions</p>
		
		<ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-2 aquaponic-info">
			<li class="text-center">
				<a href="https://en.wikipedia.org/wiki/Aquaculture" target="_blank">
					<div class="aquaponic-images">
						<img src="{% static 'assets/fish.png' %}">
						<h3>Aquaculture</h3>
						<p>More on Wikipedia</p>
					</div>
				</a>
			</li>
			<li class="text-center">
				<a href="https://en.wikipedia.org/wiki/Hydroponics" target="_blank">
					<div class="aquaponic-images">
						<img src="{% static 'assets/plant.png' %}">
						<h3>Hydroponics</h3>
						<p>More on Wikipedia</p>
					</div>
				</a>
			</li>
		</ul>
	</div>
</div>

<div class="section-header">
	<h2 class="text-center">How does Aquaponics work?</h2>
</div>

<div class="section-content">
	<div class="row">
		<div class="columns">
			<p>Remember Biology GCSE's? Well the process at work is the Nitrogen cycle. It's really quite a simple process but one that has had millenia to be perfected. The joy of Aquaponics is the ability to harness this pefection!
				
			</p>
		</div>
		
	</div>
	<div class="row">
		<div class="columns large-4">
			<ol>
				<li>The fish create waste from feeding</li>
				<li>The waste is essentially ammonia</li>
				<li>Bacteria convert the ammonia into nitrates and nitrites</li>
				<li>The plants absorb the nitrates out of the system</li>
				<li>The plants clean the water for the fish</li>
			</ol>
		</div>
		<div class="columns large-6">
			<h3 class="text-center">Nitrogen Cycle</h3>
			<img class="text-center" src="{% static 'assets/nitrogen_a.png' %}">
		</div>
	</div>
	
</div>

{% endblock %}
