{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}
	Home
{% endblock %}

{% block head %}
{% endblock %}




{% block content %}
<div class="hero">
	<div class="small-12 columns hero-title">
		<h1 class="text-center">Home Grown</h1>
		<p class="text-center">An Agricultural Revolution</p>
	</div>
</div>

{% include "nav.html" %} 

<div class="section-content">

	<div class="row">
		<h2 class="columns">What is Home Grown?</h2>
	</div>
	<div class="row">
		<p class="columns"><strong>Home Grown</strong> is a company that specialises in creating Aquaponic Systems. Home Grown combines modern IoT technologies with century old farming techniques to create an ecosystem capable of growing food in urban environments.</p>

		<p class="columns">Below is a <em>small</em> scale prototype built by the founder of <strong>Home Grown</strong>. The aim of this prototype was to prove that an Aquaponic system was capable of growing food without the need for fertilisers, soil or even natural light!</p>

		<iframe class="column" width="100%" height="540px" src="https://www.youtube.com/embed/B8XeFcnTWAQ" frameborder="0" allowfullscreen></iframe>
	</div>
</div>

<div class="section-content">
	<div class="row">
		<h2 class="columns">What is Aquaponics?</h2>
	</div>
	<div class="row">
		<p class="columns"><strong>Aquaponics</strong> is a farming technique that creates a symbiotic relationship between fish and plant. The name derives from the combination of Aquaculture and Hydroponics. In short, Aquaculture is the farming of aquatic organisms such as fish and Hyrdroponics is the farming of plants using mineral solutions to provide the necessary nutrients. Whilst each of these has their benefits it is the combination of the two processes that make this a truely unique proposition.</p>
		
		<ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-2 aquaponic-info">
			<li class="text-center">
				<a href="https://en.wikipedia.org/wiki/Aquaculture" target="_blank">
					<div class="aquaponic-images">
						<img src="{% static 'assets/fish.png' %}">
						<h3>Aquaculture</h3>
						<p>More on Wikipedia</p>
					</div>
				</a>
			</li>
			<li class="text-center">
				<a href="https://en.wikipedia.org/wiki/Hydroponics" target="_blank">
					<div class="aquaponic-images">
						<img src="{% static 'assets/plant.png' %}">
						<h3>Hydroponics</h3>
						<p>More on Wikipedia</p>
					</div>
				</a>
			</li>
		</ul>
	</div>
</div>

<div class="section-content">
	<div class="row">
		<h2 class="columns">How does Aquaponics work?</h2>
	</div>
	<div class="row">
		<div class="columns">
			<p>To understand how it all works we need to go back to your biology class at school! The process at work within an Aquaponic system is called the Nitrogen cycle. It has been improved over millions of years and the joy of Aquaponics is the ability to harness this pefection!
				
			</p>
		</div>
		
	</div>
	<div class="row aquaponic-steps">
		<div class="columns small-12 medium-6 aquaponic-steps-list">
			<ol class="">
				<li>The fish waste creates ammonia</li>
				<li>Bacteria convert the ammonia into nitrates and nitrites</li>
				<li>The plants absorb the nitrates out of the system</li>
			</ol>
		</div>
		<div class="columns small-8-center medium-6 aquaponic-steps-image">
			<img class="text-center" src="{% static 'assets/nitrogen_cycle.png' %}">
		</div>
	</div>
	
</div>

<div class="section-content">

	<div class="row">
		<h2 class="columns">Why Home Grown?</h2>
	</div>
	<div class="row">
		<p class="columns">In answering this question you need to look at current issues we face on a global scale. We have all read about increased deforrestation to make way for farmland, we know that we have an increasing population all of which puts increasing demands on natural resources. Out impact on the earth is clearly unsustainable and Home Grown want to make an inroads into correcting these problems.</p>

		<p class="columsn">The prototype in the above video is just the first step in the process. The aim is to create a product that helps people grow healthy, nutricious food with as little impact on the earth as possible.</p>

		<p class="columns">Home Grown is about making all of us more self reliant. We have become a nation of importers, from food to clothing the majority of everything we consume is not produce here in the UK. Home Grown wants to bring the growing back into the household. By being able to use the knowledge gained over the past few years Home Grown want to help people create bespoke systems that fit their location and their budget.</p>

	</div>
</div>

<div class="section-quote">
	<div class="row">
		<div class="columns small-centered small-3 medium-3">
			<img class="img-circle" src="{% static 'assets/norbert.png'%}">
		</div>
		<div class="columns small-centered medium-9">
			<p class="quote">The more we get out of the world the less we leave, and in the long run we shall have to pay our debts at a time that may be very inconvenient for our own survival.</p>
			<p class="text-center author">Norbert Weiner</p>
		</div>
	</div>
</div>

{% endblock %}
