footer{
	height:200px;
	background: rgba(0,0,0, 0.8);
	box-shadow: 10px 10px 5px #fff;
	div{
		padding: 20px 0px 0px 0px;
	}
	i{
		font-size: 3em;
		color: #f2f2f2;
		margin: 0px 10px;
	}
	i:hover{
		color: #0078A0;
	}

	a{
		color: #0078A0;
	}

}