{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}
	Sensors
{% endblock %}

{% block head %}
	<!-- <link rel="stylesheet" type="text/css" href="{% static "sensor/css/style.css"%}"> -->

{% endblock %}




{% block content %}
<h1>Sensors</h1>

<p>Light: {{light}}</p>




<div class="mdl-grid">
	{% if latest_grow_temp %}
	<div class="mdl-cell mdl-cell--4-col temp-card mdl-card mdl-shadow--2dp">
		<div class="temp-title mdl-card__title mdl-card--expand">
			<h4>Grow Temp</h4>
			<div id="grow_temp" class="current-temperature" data-temperature="{{latest_grow_temp.data}}" data-low="0" data-high="50" data-optimal-low="20" data-optimal-high="30"></div>
		</div>
		<div class="mdl-card__actions mdl-card--border">
			<a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="{% url 'graph' 'gt' %}">
			More Info
			</a>
			<div class="mdl-layout-spacer"></div>
		</div>
	</div>
	{% else %}
		<h1>No Grow Data</h1>
	{% endif %}

	{% if latest_sump_temp %}
	<div class="mdl-cell mdl-cell--4-col temp-card mdl-card mdl-shadow--2dp">
		<div class="temp-title mdl-card__title mdl-card--expand">
			<h4>Sump Temp</h4>
			<div id="sump_temp" class="current-temperature" data-temperature="{{latest_sump_temp.data}}" data-low="0" data-high="50" data-optimal-low="20" data-optimal-high="30"></div>
		</div>
		<div class="mdl-card__actions mdl-card--border">
			<a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="{% url 'graph' 'st' %}">
			More Info
			</a>
			<div class="mdl-layout-spacer"></div>
		</div>
	</div>
	{% else %}
		<h1>No Sump Data</h1>
	{% endif %}

	{% if latest_fish_temp %}
	<div class="mdl-cell mdl-cell--4-col temp-card mdl-card mdl-shadow--2dp">
		<div class="temp-title mdl-card__title mdl-card--expand">
			<h4>Fish Temp</h4>
			<div id="fish_temp" class="current-temperature" data-temperature="{{latest_fish_temp.data}}" data-low="0" data-high="50" data-optimal-low="20" data-optimal-high="30"></div>
		</div>
		<div class="mdl-card__actions mdl-card--border">
			<a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="{% url 'graph' 'ft' %}">
			More Info
			</a>
			<div class="mdl-layout-spacer"></div>
		</div>
	</div>
	{% else %}
		<h1>No Fish Data</h1>
	{% endif %}

	</div>


	{% if latest_light_lux %}
	<div class="mdl-cell mdl-cell--4-col temp-card mdl-card mdl-shadow--2dp">
		<div class="temp-title mdl-card__title mdl-card--expand">
			<h4>Lights</h4>
			<div class="light">
				<svg version="1.1" viewBox="0.0 0.0 352.1706036745407 351.5721784776903" fill="none" stroke="none" stroke-linecap="square" stroke-miterlimit="10" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">

					<clipPath id="p.0">

						<path d="m0 0l352.1706 0l0 351.57217l-352.1706 0l0 -351.57217z" clip-rule="nonzero"></path>

					</clipPath>


					<g clip-path="url(#p.0)">
						<path fill="#000000" fill-opacity="0.0" d="m0 0l352.1706 0l0 351.57217l-352.1706 0z" fill-rule="nonzero"></path>
						<path class="light-shape" fill="#f00" d="m351.9685 175.98425l-71.01697 25.25531l0 -50.51062zm-51.556885 -124.44368l-32.34915 68.08139l-35.715927 -35.71592zm-124.42737 -51.540573l25.25531 71.01696l-50.51062 0zm-124.44368 51.540573l68.08139 32.36547l-35.71592 35.71592zm-51.540573 124.44368l71.01696 -25.25531l0 50.51062zm51.540573 124.42737l32.36547 -68.06508l35.71592 35.715927zm124.44368 51.556885l-25.25531 -71.01697l50.51062 0zm124.42737 -51.556885l-68.06508 -32.34915l35.715927 -35.715927zm-212.4195 -124.42737l0 0c0 -48.59671 39.395416 -87.99213 87.99213 -87.99213c48.59671 0 87.99213 39.395416 87.99213 87.99213c0 48.59671 -39.395416 87.99213 -87.99213 87.99213c-48.59671 0 -87.99213 -39.395416 -87.99213 -87.99213z" fill-rule="nonzero"></path>

						<path class='light-stroke' stroke="#000000" stroke-width="1.0" stroke-linejoin="round" stroke-linecap="butt" d="m351.9685 175.98425l-71.01697 25.25531l0 -50.51062zm-51.556885 -124.44368l-32.34915 68.08139l-35.715927 -35.71592zm-124.42737 -51.540573l25.25531 71.01696l-50.51062 0zm-124.44368 51.540573l68.08139 32.36547l-35.71592 35.71592zm-51.540573 124.44368l71.01696 -25.25531l0 50.51062zm51.540573 124.42737l32.36547 -68.06508l35.71592 35.715927zm124.44368 51.556885l-25.25531 -71.01697l50.51062 0zm124.42737 -51.556885l-68.06508 -32.34915l35.715927 -35.715927zm-212.4195 -124.42737l0 0c0 -48.59671 39.395416 -87.99213 87.99213 -87.99213c48.59671 0 87.99213 39.395416 87.99213 87.99213c0 48.59671 -39.395416 87.99213 -87.99213 87.99213c-48.59671 0 -87.99213 -39.395416 -87.99213 -87.99213z" fill-rule="nonzero"></path>
					</g>

				</svg>
			</div>
		</div>
			
		<div class="mdl-card__actions mdl-card--border">
			<a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="{% url 'graph' 'ls' %}">
			More Info
			</a>
			<div class="mdl-layout-spacer"></div>
		</div>
	</div>
	{% else %}
		<h1>No Fish Data</h1>
	{% endif %}

	</div>
	



	
	

<script type="">
	
	$(function() {
		var light = '{{light}}';
		if(light=='True'){
			$('.light-shape').attr('fill', '#f4f742');
		}else{
			$('.light-shape').attr('fill', '#c6c6c6');
		}
	});

</script>

	
	
{% endblock %}
