{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}
	Sensors
{% endblock %}

{% block head %}
	<!-- <link rel="stylesheet" type="text/css" href="{% static "sensor/css/style.css"%}"> -->

{% endblock %}




{% block content %}
<h1>Sensors</h1>




<div class="mdl-grid">
	{% if latest_grow_temp %}
	<div class="mdl-cell mdl-cell--4-col temp-card mdl-card mdl-shadow--2dp">
		<div class="temp-title mdl-card__title mdl-card--expand">
			<h4>Grow Temp</h4>
			<div id="grow_temp" class="current-temperature" data-temperature="{{latest_grow_temp.data}}" data-low="0" data-high="50" data-optimal-low="20" data-optimal-high="30"></div>
		</div>
		<div class="mdl-card__actions mdl-card--border">
			<a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="{% url 'graph' 'gt' %}">
			More Info
			</a>
			<div class="mdl-layout-spacer"></div>
		</div>
	</div>
	{% else %}
		<h1>No Grow Data</h1>
	{% endif %}

	{% if latest_sump_temp %}
	<div class="mdl-cell mdl-cell--4-col temp-card mdl-card mdl-shadow--2dp">
		<div class="temp-title mdl-card__title mdl-card--expand">
			<h4>Sump Temp</h4>
			<div id="sump_temp" class="current-temperature" data-temperature="{{latest_sump_temp.data}}" data-low="0" data-high="50" data-optimal-low="20" data-optimal-high="30"></div>
		</div>
		<div class="mdl-card__actions mdl-card--border">
			<a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="{% url 'graph' 'st' %}">
			More Info
			</a>
			<div class="mdl-layout-spacer"></div>
		</div>
	</div>
	{% else %}
		<h1>No Sump Data</h1>
	{% endif %}

	{% if latest_fish_temp %}
	<div class="mdl-cell mdl-cell--4-col temp-card mdl-card mdl-shadow--2dp">
		<div class="temp-title mdl-card__title mdl-card--expand">
			<h4>Fish Temp</h4>
			<div id="fish_temp" class="current-temperature" data-temperature="{{latest_fish_temp.data}}" data-low="0" data-high="50" data-optimal-low="20" data-optimal-high="30"></div>
		</div>
		<div class="mdl-card__actions mdl-card--border">
			<a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="{% url 'graph' 'ft' %}">
			More Info
			</a>
			<div class="mdl-layout-spacer"></div>
		</div>
	</div>
	{% else %}
		<h1>No Fish Data</h1>
	{% endif %}

	</div>
	
	
	

	
	
{% endblock %}
